{#
/*
 * This file is part of the ProductReview plugin
 *
 * Copyright (C) 2016 LOCKON CO.,LTD. All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_review_page' %}

{% block main %}
<h1 class="page-heading">レビューを書く</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="container-fluid">
                <div id="deliveradd_input" class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="complete_message">
                            <h2 class="heading01">ありがとうございました。</h2>
                            <p>
                                内容を確認後、反映させていただきます。<br>
                                今しばらくお待ちくださいませ。
                            </p>
                        </div>
                        <div class="row no-padding">
                            <div class="btn_group col-sm-offset-4 col-sm-4">
                                <p>
                                    <a href="{{ url('product_detail', {'id': id}) }}" class="btn btn-info btn-block">商品ページに戻る</a>
                                </p>
                            </div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
